@{
    ViewBag.Title = "About";
}

<div style="min-height:513px;width:98%">
    <div style="color:white;">
        <h2 style="text-align:center;color:#f1d8b3"><u><b>Welcome to our cinema - moeKino</b></u></h2>
        <div style="margin-left:13%;">
            <div>
                <img src="~/Content/kino.png" width="170px;" style="margin-left:10%"/> <i style="margin-left:5%;">"Cinema should make you forget you are sitting in theater." - Roman Polanski </i>
            </div>
            <h3 style="color:#f1d8b3">Why you should visit us?</h3>
            <div style="font-size:18px;width:88%;" class="text-justify mt-3">
                <span style="margin-left:-2.5%">🎥</span>
                <span>
                    Our cinema uses high-tech motion seats and special effects to simulate wind, snow, fog, lightning, bubbles, water and scents.
                    They work in perfect synchronicity with the film to bring the action on screen to life.
                    <br />The new 4DX cinemas have been launched after smell was revealed to be the sense British movie fans would most like to have heightened when watching a film.
                </span>

                <br /><br />
                <span style="margin-left:-2.5%">🎥</span>
                <span>
                    We believe that everyone deserves to have an opportunity to buy online cinema tickets.
                    <br /> Innovation and simplicity makes us happy: our goal is to enable online buying tickets for movies,
                    gathering points for every online bought movie ticket and receiving a prize for a certain number of points!
                    </span>
            </div>
                   <div class="mb-3">
                    <i style="font-size:18px;">We're excited to help you on your journey!</i>
                </div>
        </div>
        </div>
    </div>


