@{
    ViewBag.Title = "About";
}

<div style="min-height:512px;width:98%">
    <div style="color:white;">
        <h3 style="text-align:center"><i>Welcome to our cinema - moeKino</i></h3>
        <div style="margin-left:13%;">
            <div>
                <img src="~/Content/kino.png" width="200px;" /> <i style="margin-left:15%;">"Cinema should make you forget you are sitting in theater. - Roman Polanski" </i>
            </div>

            <div style="font-size:20px;">
               We believe that everyone deserves to have an opportunity to buy online cinema tickets.
                <br />
                Innovation and simplicity makes us happy: our goal is to enable online buying tickets for movies, <br />
                gathering points for every online bought movie ticket and receiving a prize for a certain number of points!
                <div>
                    <br />
                    <i style="font-size:18px;">We're excited to help you on your journey!</i>



                </div>
            </div>
        </div>


