@{
    ViewBag.Title = "Contact";
}

<div style="min-height:480px;width:98%" class="mb-5">
    <h2 style="color:white;margin-left:42%;color:#f1d8b3"><u>Connect with us</u></h2> <br />
    <div class="row mt-4" style="color:white;">
        <div class="col-md-4" style="margin-left:13%; color:white">
            <address class="text-right">
                <img src="~/Content/adresa.png" style="margin-left:5%; " width="60px;" /> 
                <span style="font-size:20px;">St. Ljubljanska 6, 1000 Skopje
               <iframe width="500" height="300" src="https://maps.google.com/maps?width=720&amp;height=300&amp;hl=en&amp;coord=42.0044249,21.3905713&amp;q=Skopje%20City%20Mall+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Google Maps iframe generator</a></iframe>
                </span>               
            </address>
        </div>
        <div class="col-md-3" style="margin-left:15%;margin-top:5%;color:white">
            <img src="~/Content/telefon.png" width="60px;" />
            <span style="font-size:18px;">
                Phone: +389 2 316 15 28
            </span>
            <br /><br />
            <img src="~/Content/email.png" width="60px;" />
            <span style="font-size:18px;">
                For support or any questions
                Email us to: moeKino@yahoo.com
            </span>
            <br /><br />
            <img src="~/Content/clock.png" width="60px;" />
            <span style="font-size:18px;" class="ml-2">
                 Working hours: <br />
                Monday-Sunday from 11:00 to 1:00
            </span>

        </div>
        
    </div>

</div>





