@{
    ViewBag.Title = "Contact";
}

<div style="min-height:480px;width:98%">
    <h2 style="color:white;margin-left:42%">CONNECT WITH US</h2> <br />
    <div class="row" style="color:white;">
        <div class="col-md-4" style="margin-left:13%; color:white">
            <address>
                <img src="~/Content/adresa.png" style="margin-left:30%; " width="60px;" /> <br />

                                                                                           <p style="font-size:20px;">Bul. Partizanski odredi 70b, 1000 Skopje </p>
                <p style="font-size:20px;">
                    Working hours: <br />
                    Monday-Sunday from 11:00 to 1:00
                </p>
            </address>
        </div>
        <div class="col-md-3" style="margin-left:22%;color:white">
            <img src="~/Content/telefon.png" style="margin-left:30%;" width="60px;" /><br />
            <p style="font-size:20px;">
                 Phone: +389 2 316 15 28
            </p>

        </div>
        <div class="col-md-3" style="margin-left:42%;color:white">
            <img src="~/Content/email.png" style="margin-left:30%;" width="70px;" /><br />
            <p style="font-size:20px;">
                For support or any questions <br />
                Email us to: moeKino@yahoo.com
            </p>
        </div>
    </div>

</div>





