
@{
    ViewBag.Title = "Coming soon";
}


<div class="text-center">
    <img src="~/Content/coming-soon.png" style="width:200px;" class="mt-2">
    <h5 class="text-center text-white mb-2 d-inline">Click on the movie poster for more details!</h5>
    <img src="~/Content/coming-soon.png" style="width:200px;" class="mt-2">
</div>
<div style="height:450px;" class="text-center">
<div class="content-all">
    <div class="content-carrousel">
        <figure><img src="~/Content/Coming soon/A Simple Favor.jpg" onclick="window.open('https://www.imdb.com/title/tt7040874/')"/></figure>
        <figure><img src="~/Content/Coming soon/A Star Is Born.jpg"  onclick="window.open('https://www.imdb.com/title/tt1517451/')"/></figure>
        <figure><img src="~/Content/Coming soon/Fantastic Beasts The Crimes of Grindelwald.jpg"  onclick="window.open('https://www.imdb.com/title/tt4123430/')"/></figure>
        <figure><img src="~/Content/Coming soon/Johnny English Strikes Again.jpg" onclick="window.open('https://www.imdb.com/title/tt6921996/')"/></figure>
        <figure><img src="~/Content/Coming soon/Kin.jpg"  onclick="window.open('https://www.imdb.com/title/tt6017942/')"/></figure>
        <figure><img src="~/Content/Coming soon/Mortal Engines.jpg"  onclick="window.open('https://www.imdb.com/title/tt1571234/')"/></figure>
        <figure><img src="~/Content/Coming soon/The Happytime Murders.jpg"  onclick="window.open('https://www.imdb.com/title/tt1308728/')"/></figure>
        <figure><img src="~/Content/Coming soon/The House with a Clock in Its Walls.jpg" onclick="window.open('https://www.imdb.com/title/tt2119543/')" /></figure>
        <figure><img src="~/Content/Coming soon/The Nun.jpg"  onclick="window.open('https://www.imdb.com/title/tt5814060/')" /></figure>
        <figure><img src="~/Content/Coming soon/The Predator.jpg"  onclick="window.open('https://www.imdb.com/title/tt3829266/')"></figure>
    </div>

    </div>
</div>