
@{
    ViewBag.Title = "topMovies";
}


<div style="margin-top:-50px;">
    <img src="http://infinity2k18.com/wp-content/uploads/2018/01/coming-soon-1.png" style="width:200px;">
    
    </div>
<div style="height:450px;">
<div class="content-all">
    <div class="content-carrousel" style="height:440px;">
        <figure style="height:310px;"><img src="~/Content/Comming soon/A Simple Favor.png"/></figure>
        <figure style="height:310px;"><img src="~/Content/Comming soon/A Star Is Born.png" /></figure>
        <figure style="height:310px;"><img src="~/Content/Comming soon/Fantastic Beasts The Crimes of Grindelwald.png" /></figure>
        <figure style="height:310px;"><img src="~/Content/Comming soon/Johnny English Strikes Again.png"/></figure>
        <figure style="height:310px;"><img src="~/Content/Comming soon/Kin.png" /></figure>
        <figure style="height:310px;"><img src="~/Content/Comming soon/Mortal Engines.png"/></figure>
        <figure style="height:310px;"><img src="~/Content/Comming soon/The Happytime Murders.png"/></figure>
        <figure style="height:310px;"><img src="~/Content/Comming soon/The House with a Clock in Its Walls.png" /></figure>
        <figure style="height:310px;"><img src="~/Content/Comming soon/The Nun.png"/></figure>
        <figure style="height:310px;"><img src="~/Content/Comming soon/The Predator.png"/></figure>



    </div>

    </div>
</div>